html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    margin: 0 0 100px;
    font-family:Poppins;
}
h1{
    font-size: 50px;
    font-family:Audiowide;
}
h3 {
    margin-bottom: .5rem;
    font-size: 32px;
    font-family:Poppins;
    font-style: italic;
    font-weight: lighter;

}

p{
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 1.5rem;
    color: rgb(161, 157, 177);

/* Navbar Section */
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D4D7DE;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
img{
    width: 20%;
    height: 100%;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.banner-area{
    position: relative;
    background-image: url("../images/bg2.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-area, .skills-area, .projects-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.text-part{
    width: 65%;
    height: 100%;
}        
.about-area{
    background-color: #fefefe;
}
.about-area .github{
    color: rgb(20, 20, 20);
}
.skills-area{
    background-color: #262626;
    color: #fff;
    width: 100%;
    height: 100%;
}
.icons-container {
	margin-top: 3rem;
}

.icons-container img {
	width: 100px;
    height: 100px;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.projects-area{
    background-color: #fefefe;
}
.p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

.basic-4 {
	padding-bottom: 1rem;
}

.basic-4 .text-container {
	margin-bottom: 4rem;
}

.basic-4 .image-container {
	margin-bottom: 1rem;
    width: auto;
    height: auto;
}
.contact-area{
    background-color: #262626;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 2% 0 5% 0;
}
.text-part {
    margin: 0% 0 5% 0;
}
#contact {
    border-top: 1rem solid #fff;
    font-family:Poppins;
  }
  #contact h1 {
    color: #f4f4f4;
    text-align: center;
    padding: 1% 0 1% 5%;
    font-weight: bold;
    font-size: 2em;
  }
  #contact .contact {
    margin: 2% 5% 2% 5%;
    border-radius: 5px;
    background: url("../images/cont4.jpg");
    padding: 20px;
  }
  label[for=name], [for=Message], [for=email] {
    color: #ffffff;
    float: left;
    font-size: 1em;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px 0 20px 0;
    background-color: rgb(204, 194, 241);
    border: 1px solid rgb(10, 10, 10);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px 0 16px 0;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #D4D7DE;
    color: rgb(14, 13, 13);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: rgb(167, 195, 247);
  }

.copyright {
	padding-top: 1rem;
	padding-bottom: 1rem;
    background-color: #D4D7DE;
	text-align: center;
    font-family:Poppins;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.copyright .p-small {
    color: #000;
	text-align: center;
}

.copyright a {
    color: #000;
}